:root {
	--clr-brand1: hsl(255, 65%, 99.4%);
	--clr-brand2: hsl(252, 100%, 99%);
	--clr-brand3: hsl(252, 96.9%, 97.4%);
	--clr-brand4: hsl(252, 91.5%, 95.5%);
	--clr-brand5: hsl(252, 85.1%, 93%);
	--clr-brand6: hsl(252, 77.8%, 89.4%);
	--clr-brand7: hsl(252, 71%, 83.7%);
	--clr-brand8: hsl(252, 68.6%, 76.3%);
	--clr-brand9: hsl(252, 56%, 57.5%);
	--clr-brand10: hsl(251, 48.1%, 53.5%);
	--clr-brand11: hsl(250, 43%, 48%);
	--clr-brand12: hsl(254, 60%, 18.5%);
	--clr-neutral1: hsl(0, 0%, 99%);
	--clr-neutral2: hsl(0, 0%, 97.3%);
	--clr-neutral3: hsl(0, 0%, 95.1%);
	--clr-neutral4: hsl(0, 0%, 93%);
	--clr-neutral5: hsl(0, 0%, 90.9%);
	--clr-neutral6: hsl(0, 0%, 88.7%);
	--clr-neutral7: hsl(0, 0%, 85.8%);
	--clr-neutral8: hsl(0, 0%, 78%);
	--clr-neutral9: hsl(0, 0%, 56.1%);
	--clr-neutral10: hsl(0, 0%, 52.3%);
	--clr-neutral11: hsl(0, 0%, 43.5%);
	--clr-neutral12: hsl(0, 0%, 9%);
	--clr-error1: hsl(359, 100%, 99.4%);
	--clr-error2: hsl(359, 100%, 98.6%);
	--clr-error3: hsl(360, 100%, 96.8%);
	--clr-error4: hsl(360, 97.9%, 94.8%);
	--clr-error5: hsl(360, 90.2%, 91.9%);
	--clr-error6: hsl(360, 81.7%, 87.8%);
	--clr-error7: hsl(359, 74.2%, 81.7%);
	--clr-error8: hsl(359, 69.5%, 74.3%);
	--clr-error9: hsl(358, 75%, 59%);
	--clr-error10: hsl(358, 69.4%, 55.2%);
	--clr-error11: hsl(358, 65%, 48.7%);
	--clr-error12: hsl(354, 50%, 14.6%);
	--clr-success1: hsl(136, 50%, 98.9%);
	--clr-success2: hsl(138, 62.5%, 96.9%);
	--clr-success3: hsl(139, 55.2%, 94.5%);
	--clr-success4: hsl(140, 48.7%, 91%);
	--clr-success5: hsl(141, 43.7%, 86%);
	--clr-success6: hsl(143, 40.3%, 79%);
	--clr-success7: hsl(146, 38.5%, 69%);
	--clr-success8: hsl(151, 40.2%, 54.1%);
	--clr-success9: hsl(151, 55%, 41.5%);
	--clr-success10: hsl(152, 57.5%, 37.6%);
	--clr-success11: hsl(153, 67%, 28.5%);
	--clr-success12: hsl(155, 40%, 14%);
	--clr-warning1: hsl(60, 54%, 98.5%);
	--clr-warning2: hsl(52, 100%, 95.5%);
	--clr-warning3: hsl(55, 100%, 90.9%);
	--clr-warning4: hsl(54, 100%, 86.6%);
	--clr-warning5: hsl(52, 97.9%, 82%);
	--clr-warning6: hsl(50, 89.4%, 76.1%);
	--clr-warning7: hsl(47, 80.4%, 68%);
	--clr-warning8: hsl(48, 100%, 46.1%);
	--clr-warning9: hsl(53, 92%, 50%);
	--clr-warning10: hsl(50, 100%, 48.5%);
	--clr-warning11: hsl(42, 100%, 29%);
	--clr-warning12: hsl(40, 55%, 13.5%);
	--clr-info1: hsl(185, 60%, 98.7%);
	--clr-info2: hsl(185, 73.3%, 97.1%);
	--clr-info3: hsl(186, 70.2%, 94.4%);
	--clr-info4: hsl(186, 63.8%, 90.6%);
	--clr-info5: hsl(187, 58.3%, 85.4%);
	--clr-info6: hsl(188, 54.6%, 78.4%);
	--clr-info7: hsl(189, 53.7%, 68.7%);
	--clr-info8: hsl(189, 60.3%, 52.5%);
	--clr-info9: hsl(190, 95%, 39%);
	--clr-info10: hsl(191, 91.2%, 36.8%);
	--clr-info11: hsl(192, 85%, 31%);
	--clr-info12: hsl(192, 88%, 12.5%);
}
@media (prefers-color-scheme: dark) {
	:root {
		--clr-brand1: hsl(250, 20%, 10.2%);
		--clr-brand2: hsl(255, 30.3%, 12.9%);
		--clr-brand3: hsl(253, 37%, 18.4%);
		--clr-brand4: hsl(252, 40.1%, 22.5%);
		--clr-brand5: hsl(252, 42.2%, 26.2%);
		--clr-brand6: hsl(251, 44.3%, 31.1%);
		--clr-brand7: hsl(250, 46.8%, 38.9%);
		--clr-brand8: hsl(250, 51.8%, 51.2%);
		--clr-brand9: hsl(252, 56%, 57.5%);
		--clr-brand10: hsl(251, 63.2%, 63.2%);
		--clr-brand11: hsl(250, 95%, 76.8%);
		--clr-brand12: hsl(252, 87%, 96.4%);
		--clr-neutral1: hsl(0, 0%, 8.5%);
		--clr-neutral2: hsl(0, 0%, 11%);
		--clr-neutral3: hsl(0, 0%, 13.6%);
		--clr-neutral4: hsl(0, 0%, 15.8%);
		--clr-neutral5: hsl(0, 0%, 17.9%);
		--clr-neutral6: hsl(0, 0%, 20.5%);
		--clr-neutral7: hsl(0, 0%, 24.3%);
		--clr-neutral8: hsl(0, 0%, 31.2%);
		--clr-neutral9: hsl(0, 0%, 43.9%);
		--clr-neutral10: hsl(0, 0%, 49.4%);
		--clr-neutral11: hsl(0, 0%, 62.8%);
		--clr-neutral12: hsl(0, 0%, 93%);
		--clr-error1: hsl(353, 23%, 9.8%);
		--clr-error2: hsl(357, 34.4%, 12%);
		--clr-error3: hsl(356, 43.4%, 16.4%);
		--clr-error4: hsl(356, 47.6%, 19.2%);
		--clr-error5: hsl(356, 51.1%, 21.9%);
		--clr-error6: hsl(356, 55.2%, 25.9%);
		--clr-error7: hsl(357, 60.2%, 31.8%);
		--clr-error8: hsl(358, 65%, 40.4%);
		--clr-error9: hsl(358, 75%, 59%);
		--clr-error10: hsl(358, 85.3%, 64%);
		--clr-error11: hsl(358, 100%, 69.5%);
		--clr-error12: hsl(351, 89%, 96%);
		--clr-success1: hsl(146, 30%, 7.4%);
		--clr-success2: hsl(155, 44.2%, 8.4%);
		--clr-success3: hsl(155, 46.7%, 10.9%);
		--clr-success4: hsl(154, 48.4%, 12.9%);
		--clr-success5: hsl(154, 49.7%, 14.9%);
		--clr-success6: hsl(154, 50.9%, 17.6%);
		--clr-success7: hsl(153, 51.8%, 21.8%);
		--clr-success8: hsl(151, 51.7%, 28.4%);
		--clr-success9: hsl(151, 55%, 41.5%);
		--clr-success10: hsl(151, 49.3%, 46.5%);
		--clr-success11: hsl(151, 50%, 53.2%);
		--clr-success12: hsl(137, 72%, 94%);
		--clr-warning1: hsl(45, 100%, 5.5%);
		--clr-warning2: hsl(46, 100%, 6.7%);
		--clr-warning3: hsl(45, 100%, 8.7%);
		--clr-warning4: hsl(45, 100%, 10.4%);
		--clr-warning5: hsl(47, 100%, 12.1%);
		--clr-warning6: hsl(49, 100%, 14.3%);
		--clr-warning7: hsl(49, 90.3%, 18.4%);
		--clr-warning8: hsl(50, 100%, 22%);
		--clr-warning9: hsl(53, 92%, 50%);
		--clr-warning10: hsl(54, 100%, 68%);
		--clr-warning11: hsl(48, 100%, 47%);
		--clr-warning12: hsl(53, 100%, 91%);
		--clr-info1: hsl(192, 60%, 7.2%);
		--clr-info2: hsl(192, 71.4%, 8.2%);
		--clr-info3: hsl(192, 75.9%, 10.8%);
		--clr-info4: hsl(192, 79.3%, 12.8%);
		--clr-info5: hsl(192, 82.5%, 14.6%);
		--clr-info6: hsl(192, 86.6%, 16.9%);
		--clr-info7: hsl(192, 92.6%, 20.1%);
		--clr-info8: hsl(192, 100%, 24.5%);
		--clr-info9: hsl(190, 95%, 39%);
		--clr-info10: hsl(188, 100%, 40%);
		--clr-info11: hsl(186, 100%, 42.2%);
		--clr-info12: hsl(185, 73%, 93.2%);
	}
}
[theme='light'] {
	--clr-brand1: hsl(255, 65%, 99.4%);
	--clr-brand2: hsl(252, 100%, 99%);
	--clr-brand3: hsl(252, 96.9%, 97.4%);
	--clr-brand4: hsl(252, 91.5%, 95.5%);
	--clr-brand5: hsl(252, 85.1%, 93%);
	--clr-brand6: hsl(252, 77.8%, 89.4%);
	--clr-brand7: hsl(252, 71%, 83.7%);
	--clr-brand8: hsl(252, 68.6%, 76.3%);
	--clr-brand9: hsl(252, 56%, 57.5%);
	--clr-brand10: hsl(251, 48.1%, 53.5%);
	--clr-brand11: hsl(250, 43%, 48%);
	--clr-brand12: hsl(254, 60%, 18.5%);
	--clr-neutral1: hsl(0, 0%, 99%);
	--clr-neutral2: hsl(0, 0%, 97.3%);
	--clr-neutral3: hsl(0, 0%, 95.1%);
	--clr-neutral4: hsl(0, 0%, 93%);
	--clr-neutral5: hsl(0, 0%, 90.9%);
	--clr-neutral6: hsl(0, 0%, 88.7%);
	--clr-neutral7: hsl(0, 0%, 85.8%);
	--clr-neutral8: hsl(0, 0%, 78%);
	--clr-neutral9: hsl(0, 0%, 56.1%);
	--clr-neutral10: hsl(0, 0%, 52.3%);
	--clr-neutral11: hsl(0, 0%, 43.5%);
	--clr-neutral12: hsl(0, 0%, 9%);
	--clr-error1: hsl(359, 100%, 99.4%);
	--clr-error2: hsl(359, 100%, 98.6%);
	--clr-error3: hsl(360, 100%, 96.8%);
	--clr-error4: hsl(360, 97.9%, 94.8%);
	--clr-error5: hsl(360, 90.2%, 91.9%);
	--clr-error6: hsl(360, 81.7%, 87.8%);
	--clr-error7: hsl(359, 74.2%, 81.7%);
	--clr-error8: hsl(359, 69.5%, 74.3%);
	--clr-error9: hsl(358, 75%, 59%);
	--clr-error10: hsl(358, 69.4%, 55.2%);
	--clr-error11: hsl(358, 65%, 48.7%);
	--clr-error12: hsl(354, 50%, 14.6%);
	--clr-success1: hsl(136, 50%, 98.9%);
	--clr-success2: hsl(138, 62.5%, 96.9%);
	--clr-success3: hsl(139, 55.2%, 94.5%);
	--clr-success4: hsl(140, 48.7%, 91%);
	--clr-success5: hsl(141, 43.7%, 86%);
	--clr-success6: hsl(143, 40.3%, 79%);
	--clr-success7: hsl(146, 38.5%, 69%);
	--clr-success8: hsl(151, 40.2%, 54.1%);
	--clr-success9: hsl(151, 55%, 41.5%);
	--clr-success10: hsl(152, 57.5%, 37.6%);
	--clr-success11: hsl(153, 67%, 28.5%);
	--clr-success12: hsl(155, 40%, 14%);
	--clr-warning1: hsl(60, 54%, 98.5%);
	--clr-warning2: hsl(52, 100%, 95.5%);
	--clr-warning3: hsl(55, 100%, 90.9%);
	--clr-warning4: hsl(54, 100%, 86.6%);
	--clr-warning5: hsl(52, 97.9%, 82%);
	--clr-warning6: hsl(50, 89.4%, 76.1%);
	--clr-warning7: hsl(47, 80.4%, 68%);
	--clr-warning8: hsl(48, 100%, 46.1%);
	--clr-warning9: hsl(53, 92%, 50%);
	--clr-warning10: hsl(50, 100%, 48.5%);
	--clr-warning11: hsl(42, 100%, 29%);
	--clr-warning12: hsl(40, 55%, 13.5%);
	--clr-info1: hsl(185, 60%, 98.7%);
	--clr-info2: hsl(185, 73.3%, 97.1%);
	--clr-info3: hsl(186, 70.2%, 94.4%);
	--clr-info4: hsl(186, 63.8%, 90.6%);
	--clr-info5: hsl(187, 58.3%, 85.4%);
	--clr-info6: hsl(188, 54.6%, 78.4%);
	--clr-info7: hsl(189, 53.7%, 68.7%);
	--clr-info8: hsl(189, 60.3%, 52.5%);
	--clr-info9: hsl(190, 95%, 39%);
	--clr-info10: hsl(191, 91.2%, 36.8%);
	--clr-info11: hsl(192, 85%, 31%);
	--clr-info12: hsl(192, 88%, 12.5%);
}
[theme='dark'] {
	--clr-brand1: hsl(250, 20%, 10.2%);
	--clr-brand2: hsl(255, 30.3%, 12.9%);
	--clr-brand3: hsl(253, 37%, 18.4%);
	--clr-brand4: hsl(252, 40.1%, 22.5%);
	--clr-brand5: hsl(252, 42.2%, 26.2%);
	--clr-brand6: hsl(251, 44.3%, 31.1%);
	--clr-brand7: hsl(250, 46.8%, 38.9%);
	--clr-brand8: hsl(250, 51.8%, 51.2%);
	--clr-brand9: hsl(252, 56%, 57.5%);
	--clr-brand10: hsl(251, 63.2%, 63.2%);
	--clr-brand11: hsl(250, 95%, 76.8%);
	--clr-brand12: hsl(252, 87%, 96.4%);
	--clr-neutral1: hsl(0, 0%, 8.5%);
	--clr-neutral2: hsl(0, 0%, 11%);
	--clr-neutral3: hsl(0, 0%, 13.6%);
	--clr-neutral4: hsl(0, 0%, 15.8%);
	--clr-neutral5: hsl(0, 0%, 17.9%);
	--clr-neutral6: hsl(0, 0%, 20.5%);
	--clr-neutral7: hsl(0, 0%, 24.3%);
	--clr-neutral8: hsl(0, 0%, 31.2%);
	--clr-neutral9: hsl(0, 0%, 43.9%);
	--clr-neutral10: hsl(0, 0%, 49.4%);
	--clr-neutral11: hsl(0, 0%, 62.8%);
	--clr-neutral12: hsl(0, 0%, 93%);
	--clr-error1: hsl(353, 23%, 9.8%);
	--clr-error2: hsl(357, 34.4%, 12%);
	--clr-error3: hsl(356, 43.4%, 16.4%);
	--clr-error4: hsl(356, 47.6%, 19.2%);
	--clr-error5: hsl(356, 51.1%, 21.9%);
	--clr-error6: hsl(356, 55.2%, 25.9%);
	--clr-error7: hsl(357, 60.2%, 31.8%);
	--clr-error8: hsl(358, 65%, 40.4%);
	--clr-error9: hsl(358, 75%, 59%);
	--clr-error10: hsl(358, 85.3%, 64%);
	--clr-error11: hsl(358, 100%, 69.5%);
	--clr-error12: hsl(351, 89%, 96%);
	--clr-success1: hsl(146, 30%, 7.4%);
	--clr-success2: hsl(155, 44.2%, 8.4%);
	--clr-success3: hsl(155, 46.7%, 10.9%);
	--clr-success4: hsl(154, 48.4%, 12.9%);
	--clr-success5: hsl(154, 49.7%, 14.9%);
	--clr-success6: hsl(154, 50.9%, 17.6%);
	--clr-success7: hsl(153, 51.8%, 21.8%);
	--clr-success8: hsl(151, 51.7%, 28.4%);
	--clr-success9: hsl(151, 55%, 41.5%);
	--clr-success10: hsl(151, 49.3%, 46.5%);
	--clr-success11: hsl(151, 50%, 53.2%);
	--clr-success12: hsl(137, 72%, 94%);
	--clr-warning1: hsl(45, 100%, 5.5%);
	--clr-warning2: hsl(46, 100%, 6.7%);
	--clr-warning3: hsl(45, 100%, 8.7%);
	--clr-warning4: hsl(45, 100%, 10.4%);
	--clr-warning5: hsl(47, 100%, 12.1%);
	--clr-warning6: hsl(49, 100%, 14.3%);
	--clr-warning7: hsl(49, 90.3%, 18.4%);
	--clr-warning8: hsl(50, 100%, 22%);
	--clr-warning9: hsl(53, 92%, 50%);
	--clr-warning10: hsl(54, 100%, 68%);
	--clr-warning11: hsl(48, 100%, 47%);
	--clr-warning12: hsl(53, 100%, 91%);
	--clr-info1: hsl(192, 60%, 7.2%);
	--clr-info2: hsl(192, 71.4%, 8.2%);
	--clr-info3: hsl(192, 75.9%, 10.8%);
	--clr-info4: hsl(192, 79.3%, 12.8%);
	--clr-info5: hsl(192, 82.5%, 14.6%);
	--clr-info6: hsl(192, 86.6%, 16.9%);
	--clr-info7: hsl(192, 92.6%, 20.1%);
	--clr-info8: hsl(192, 100%, 24.5%);
	--clr-info9: hsl(190, 95%, 39%);
	--clr-info10: hsl(188, 100%, 40%);
	--clr-info11: hsl(186, 100%, 42.2%);
	--clr-info12: hsl(185, 73%, 93.2%);
}
