@import 'open-props/postcss/style';
@import 'color-system.css';
@import 'reset.css';

body {
	font-family: 'Lato', sans-serif;
}

#root {
	height: 100vh;
	background-color: red;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	padding: 2rem 5rem;
	display: grid;
	height: 5rem;
	justify-content: space-between;
	grid-template-columns: 3rem auto 3rem;
}

main {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
footer {
	padding: 2rem 5rem;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
